@use "../../../styles/mixins/responsive.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listItem {
  &:not(:last-child) {
    border-bottom: 1px solid var(--neutral-200);
  }
}

.title {
  margin-bottom: 16px;
  @include desktop-up {
    display: none;
  }
}

.addNoteMobileButton {
  position: fixed;
  right: 16px;
  bottom: 32px;

  @include tablet-up {
    right: 35px;
    bottom: 48px;
  }

  @include desktop-up {
    display: none;
  }
}

.addNoteDesktopButton {
  display: none;
  @include desktop-up {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
  }
}

.glass {
  display: none;
  @include desktop-up {
    display: flex;
    padding: 20px 0 16px;
    background-color: var(--bg-glass);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    left: 0;
  }
}

.list {
  height: 100%;
}
