.container {
  width: 100%;
  height: 44px;
  padding: 13px 16px;
  border: 1px solid var(--neutral-300);
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: -0.2px;
  font-weight: 400;
  color: var(--neutral-950);
  background-color: transparent;
  &::placeholder {
    color: var(--neutral-500);
  }
  &:disabled {
    background-color: var(--neutral-50);
  }
}

.error {
  border-color: var(--red-500);
}
