@use "@/styles/mixins/responsive.scss" as *;
@use "@/styles/variables/sizes.scss" as *;

.sidebarOpenLayout {
  @include desktop-up {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100dvh;
  }
}

.content {
  @include desktop-up {
    display: flex;
    flex-direction: column;
  }
}

.outlet {
  height: calc(100dvh - $topbar-desktop-height);
  overflow: hidden;
}
