@use "@/styles/mixins/responsive.scss" as *;

.container {
  display: grid;
  row-gap: 12px;
  @include tablet-up {
    row-gap: 16px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerRightCol {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pin {
  width: 24px;
  height: 24px;
}
