@use "../../styles/mixins/responsive.scss" as *;

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  &:disabled {
    pointer-events: none;
    color: var(--neutral-300);
    background-color: var(--neutral-50);
  }
}

.iconOnly {
  padding: 0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0 7px 11px var(--shadow-color-300);

  @include tablet-up {
    width: 64px;
    height: 64px;
  }
}

.isLoading {
  pointer-events: none;
}

.primary {
  color: var(--neutral-0);
  background-color: var(--blue-500);
  &:hover {
    background-color: var(--blue-700);
  }
}

.secondary {
  color: var(--neutral-600);
  background-color: var(--neutral-100);
  &:hover {
    color: var(--neutral-950);
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-300);
  }
}

.border {
  color: var(--neutral-950);
  background-color: var(--neutral-0);
  border-color: var(--neutral-300);
  &:hover {
    color: var(--neutral-600);
    background-color: var(--neutral-100);
    border-color: transparent;
  }
  &:disabled {
    border-color: transparent;
  }
}
