@use "@/styles/mixins/responsive.scss" as *;
@use "@/styles/variables/sizes.scss" as *;

.container {
  background-color: var(--neutral-100);
  height: 54px;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  width: 100%;

  @include tablet-up {
    height: 74px;
    padding: 24px 32px;
  }

  @include desktop-up {
    height: $topbar-desktop-height;
    background-color: var(--neutral-0);
    padding: 26px 32px;
    border-bottom: 1px solid var(--neutral-200);
  }
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  display: none;
  @include desktop-up {
    display: unset;
  }
}

.search {
  width: 300px;
  display: none;
  @include desktop-up {
    display: inherit;
  }
}

.hamburgerIcon {
  cursor: pointer;
}
