@use "@/styles/mixins/responsive.scss" as *;

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 12px;

  @include desktop-up {
    row-gap: 0;
    grid-template-rows: 1fr;
  }
}

.topbar {
  @include desktop-up {
    display: none;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
