.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 4px solid var(--neutral-0);
  border-top-color: var(--blue-500);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
