.container {
  display: grid;
  row-gap: 12px;
}

.skeleton {
  background-color: var(--neutral-300);
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
  width: 100%;
  height: 20px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
