:root {
  --bg-white: #ffffff;
  --color-white: #ffffff;
  --neutral-0: #ffffff;
  --neutral-50: #f5f7fa;
  --neutral-100: #f3f5f8;
  --neutral-200: #e0e4ea;
  --neutral-300: #cacfd8;
  --neutral-400: #99a0ae;
  --neutral-500: #717784;
  --neutral-600: #525866;
  --neutral-700: #2b303b;
  --neutral-800: #232530;
  --neutral-900: #191b25;
  --neutral-950: #0e121b;

  --blue-50: #ebf1ff;
  --blue-500: #335cff;
  --blue-700: #2547d0;

  --green-100: #d1fbe9;
  --green-500: #21c16b;

  --red-100: #ffd5d8;
  --red-500: #fb3748;

  --shadow-color: rgba(240, 240, 240, 0.6);
  --shadow-color-300: rgba(202, 207, 216, 0.7);

  --bg-glass: rgba(255, 255, 255, 0.65);

  --overlay-color: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --bg-white: #0e121b;
  --neutral-0: #232530;
  --neutral-50: #f5f7fa;
  --neutral-100: #2b303b;
  --neutral-200: #2b303b;
  --neutral-300: #525866;
  --neutral-400: #99a0ae;
  --neutral-500: #99a0ae;
  --neutral-600: #e0e4ea;
  --neutral-700: #cacfd8;
  --neutral-800: #f3f5f8;
  --neutral-900: #ffffff;
  --neutral-950: #ffffff;

  --bg-glass: rgba(35, 37, 48, 0.65);
}
