.multiValue {
  background-color: var(--neutral-200) !important;
  border-radius: 4px !important;
  padding: 2px 6px !important;
}

.multiValueRemove {
  &:hover {
    background-color: none !important;
  }
}

.option {
  font-size: 14px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  &:hover {
    color: var(--neutral-0);
    background-color: var(--blue-500) !important;
  }
}

.control {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.container {
  width: 100%;
}

.valueContainer {
  padding-left: 0 !important;
}

.placeholder {
  font-size: 14px;
  color: var(--neutral-400) !important;
}
