@use "@/styles/mixins/responsive.scss" as *;

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 272px;
  background-color: var(--neutral-0);
  border-right: 1px solid var(--neutral-200);
  z-index: 1000;
  padding: 24px 16px 12px;

  @include desktop-up {
    position: unset;
    height: 100%;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
  color: var(--neutral-700);
}
