@import "./styles/variables/colors.css";
@import "./styles/variables/shadows.css";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
